<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline7" [@slideIn]="timeline.length">
        <div class="timeline">
          <div class="timeline-icon"><i class="fa fa-globe" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"></i></div>
          <span class="year">1.</span>
          <div class="timeline-content">
            <h5 class="title">To MS or Not to MS</h5>
            <p class="description">
              The field you wish to master in: How it works in the US and its Scope?
              The million-dollar question: Job/MS/MBA…
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><i class="fa fa-book" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"></i></div>
          <span class="year">2.</span>
          <div class="timeline-content">
            <h5 class="title">GRE, TOEFL & IELTS</h5>
            <p class="description">
              Material, Preparation Tips & Direct from the toppers
              Reviews on GRE preparation providers
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><i class="fa fa-university" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"></i></div>
          <span class="year">3.</span>
          <div class="timeline-content">
            <h5 class="title">University Research</h5>
            <p class="description">
              Rankings, Courses, Scholarship and Part time job opportunities
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><i class="fa fa-passport" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"></i></div>
          <span class="year">4.</span>
          <div class="timeline-content">
            <h5 class="title">I20, VISA & Documentation</h5>
            <p class="description">
              The process, documents, tips and tricks
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><i class="fa fa-money-check-alt" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"></i></div>
          <span class="year">5.</span>
          <div class="timeline-content">
            <h5 class="title">Education loan & Forex</h5>
            <p class="description">
              Dissecting terms and conditions, requirement, ROI and the service.
              Reviews on loan providers & Financial Advisors
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><i class="fa fa-rocket" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"></i></div>
          <span class="year">6.</span>
          <div class="timeline-content">
            <h5 class="title">Ready to fly</h5>
            <p class="description">
              Flights, Checklist, Sneak Peek to the US and more…
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><i class="fa fa-briefcase" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"></i></div>
          <span class="year">7.</span>
          <div class="timeline-content">
            <h5 class="title">Internship & Job Opportunities</h5>
            <p class="description">
              The important question, preparation and tips for the main goal
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
